*.bmp
*.eot
*.gif
*.ico
*.jpeg
*.jpg
*.orig
*.patch
*.png
*.pyc
*.rej
*.svg
*.sw?
*.swp
*.tar
*.ttf
*.woff
.hg/
.ssh/
PKG-INFO
addons/automated_clearing_house
addons/automated_clearing_house_hr
addons/fis_integration
addons/fleet_hr/fleet_hr_view.xml
addons/fnx_customer_portal
addons/fnx_pd
addons/fnx_sr
addons/fnx_survey
addons/hatta
addons/hatta.save
addons/hr/hr_data.xml
addons/hr/hr_view*.xml
addons/ip_map
addons/ip_map.save
addons/personal_address_book
addons/prayer
addons/sample
addons/sample_crm
addons/status
addons/wholeherb_integration
filestore/
hg2git
original_xml/
scripts/pulse.pyz
smoke-test.failures
*old
