.hg/
.ssh/
*.png
*.jpeg
*.jpg
*.bmp
*.gif
*.ico
*.ttf
*.svg
*.eot
*.woff
*.swp
*.pyc
*.rej
*.orig
*.sw?
original_xml/
PKG-INFO
filestore/
addons/fleet_hr/fleet_hr_view.xml
addons/hr/hr_view*.xml
addons/hr/hr_data.xml
scripts/pulse.pyz
