.hg/
.ssh/
*.png
*.jpeg
*.jpg
*.bmp
*.gif
*.ico
*.ttf
*.svg
*.eot
*.woff
*.swp
*.pyc
*.rej
*.orig
*.sw?
*.tar
*.patch
hg2git
original_xml/
PKG-INFO
filestore/
addons/fleet_hr/fleet_hr_view.xml
addons/hr/hr_view*.xml
addons/hr/hr_data.xml
addons/automated_clearing_house_hr
addons/automated_clearing_house
addons/fis_integration
addons/fnx_customer_portal
addons/fnx_pd
addons/fnx_sr
addons/fnx_survey
addons/hatta
addons/ip_map
addons/sample_crm
addons/sample
addons/hatta.save
addons/ip_map.save
addons/prayer
addons/personal_address_book
addons/status
scripts/pulse.pyz
